*** Variable ***
${SMTP_SERVER}    smtp.example.org
${IMAP_SERVER}    imap.example.org
${USER}           some.user
${PASS}           password
${FROM}           some.user@example.org
${TO}             another.user@example.org

